<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js is-ie"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="description" content="The Daily Bagels">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Daily Bagels</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/main.css">
  <!--STYLES END-->
  <!--[if lte IE 8]><link rel=stylesheet href="css/ie.css"><![endif]-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/vendor/respond.min.js"></script>
</head>

<body>
  <%- body %>

  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!--SCRIPTS-->
  <script src="/js/jquery.maskedinput.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/signup.js"></script>
  <!--SCRIPTS END-->

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-83250250-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
