<div class="level level-hero hero-home has-hint">

    <div class="hero-overlay visible-lg"></div>
    <video loop id="bg-video" class="fullscreen-video">
      <source src="/videos/kitty.webm" type="video/webm">
      <source src="/videos/kitty.mp4" type="video/mp4">
    </video>

    <div class="container full-height">
      <div class="v-align-parent">
        <div class="v-center">
          <div class="row">
            <div class="col-xs-10 col-sm-6">
              <h1 class="mb-10 heading">See you soon!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer text-center">
    <p class="fmenu">
      <a href="mai&#108;to&#58;su&#37;&#55;0&#64;dail&#121;%6&#50;&#37;&#54;&#49;&#103;&#101;l%&#55;3&#46;%&#54;3%&#54;Fm">WOOF</a>
    </p>
  </div>
